@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
* {
  transition: background-color 0.2s, box-shadow 0.2s;
}
